<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main}">
<div class="container-fluid" layout:fragment="body">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">About</h1>
	</div>
	<div class="row">

		<div class="col-lg-12">
			<!-- Brand Buttons -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Thymeleaf</h6>
				</div>
				<div class="card-body">
					<p>Thymeleaf is a modern server-side Java template engine for
						both web and standalone environments.</p>
					<p>Thymeleaf's main goal is to bring elegant natural templates
						to your development workflow - HTML that can be correctly
						displayed in browsers and also work as static prototypes, allowing
						for stronger collaboration in development teams.</p>
					<p>With modules for Spring Framework, a host of integrations
						with your favourite tools, and the ability to plug in your own
						functionality, Thymeleaf is ideal for modern-day HTML5 JVM web
						development - although there is much more it can do.</p>
					<hr />
					<h6 class="m-0 font-weight-bold text-primary">Thymeleaf Page
						Layouts</h6>
					<hr />
					<p>Usually websites share common page components like the
						header, footer, menu and possibly many more. These page components
						can be used by the same or different layouts. There are two main
						styles of organizing layouts in projects: include style and
						hierarchical style. Both styles can be easily utilized with
						Thymeleaf without losing its biggest value: natural templating.</p>
				</div>
			</div>

		</div>
	</div>
</div>
</html>