<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main}">
<div class="container-fluid" layout:fragment="body">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Contact</h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<!-- Brand Buttons -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Contact Me :</h6>
				</div>
				<div class="card-body">
					<a href="https://github.com/rahulmoundekar">Rahul (GitHub)</a>
				</div>
			</div>

		</div>
	</div>
</div>
</html>